.cardWrapper {
    border: 1px solid gray;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.deletBtn {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}