.button {
  padding: 10px;
  color: bisque;
  background-color: brown;
  border: none;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}





.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: auto;
}
.show{
  display: block;
}
.hide{
  display: none;
}